<div class="sidebar" [class.collapsed]="isCollapsed">
  <button
    class="toggle-btn"
    (click)="toggleSidebar()"
    [class.justify-between]="!isCollapsed"
    [class.justify-center]="isCollapsed"
  >
    <span class="sidebar-title" *ngIf="!isCollapsed" [@titleAnimation]>
      Stream FOMO
    </span>
    <mat-icon>{{ isCollapsed ? "chevron_right" : "chevron_left" }}</mat-icon>
  </button>
  <ul class="menu">
    <li *ngFor="let item of data">
      <a
        (click)="toggleSubMenu(item)"
        [class.justify-between]="!isCollapsed"
        [class.justify-center]="isCollapsed"
      >
        <div class="item-details" *ngIf="!isCollapsed">
          <span class="title">{{ item.title }}</span>
        </div>
        <img [src]="item.image" alt="{{ item.title }}" class="icon" />
      </a>
      <!-- Submenu -->
      <ul class="sub-menu" [class.expanded]="isExpanded(item)">
        <li *ngFor="let subItem of item.subMenu">
          <a [routerLink]="subItem.url">
            <div class="item-details" *ngIf="!isCollapsed">
              <span class="title">{{ subItem.title }}</span>
            </div>
            <img
              [src]="subItem.iconImage"
              alt="{{ subItem.title }}"
              class="icon"
            />
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
