.header {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  padding: 20px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgb(44, 44, 44), transparent);
    z-index: 1;
  }

  .header-content {
    z-index: 2; /* Ensures content is above the gradient */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    gap: 5px; /* Adds spacing between title and viewers */
  }

  .header-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .header-viewers {
    display: flex;
    align-items: center;
    gap: 5px; /* Add some spacing between the icon and the text */
    color: rgba(0, 174, 255, 0.8); /* Slightly transparent white */
    font-size: 1rem;
  }
}
