<div
  class="header"
  [ngStyle]="{
    'background-image':
      'url(' + (headerData?.headerImage || '/assets/fallback.jpg') + ')'
  }"
>
  <div
    class="header-gradient"
    [ngStyle]="{
      background:
        'linear-gradient(to top, ' + localDominantColor + ', transparent)'
    }"
  ></div>

  <div class="header-content">
    <span class="header-title">{{ headerData?.title || "Default Title" }}</span>
    <span
      *ngIf="headerData?.viewers !== null && headerData?.viewers !== undefined"
      class="header-viewers"
      [@countChange]="headerData?.viewers"
    >
      {{ headerData?.viewers }}
      <mat-icon>visibility</mat-icon>
    </span>
    <span class="header-viewers" [@countChange]="onlineStreamersCount">
      {{ onlineStreamersCount }} Streamers Online
      <mat-icon>groups</mat-icon>
    </span>
  </div>
</div>
