.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;

  .header{
    margin: 0;
    padding: 0;
    background-color: green;
  }

  &.sidebar-collapsed {
    margin-left: 64px;
  }
}
