<div class="streams" [ngStyle]="{ 'background-color': backgroundColor }">
  <!-- Controls -->
  <div class="controls">
    <button (click)="sortByViewers()">Sort by Viewers</button>
  </div>

  <!-- Grid of Streamers -->
  <div *ngIf="filteredStreamers.length > 0; else noStreamers">
    <div class="grid-container">
      <div
        *ngFor="let streamer of filteredStreamers; trackBy: trackByName"
        class="streamer"
      >
        <!-- Twitch Stream Embed -->
        <iframe
          [src]="streamer.embedUrl"
          height="270"
          width="480"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <!-- Streamer Details -->
        <div class="details">
          <a target="_blank">{{ streamer.name }}</a>
          <p>Viewers: {{ streamer.viewers }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- No Streamers Fallback -->
  <ng-template #noStreamers>
    <span>No streamers available.</span>
  </ng-template>
</div>
